.container span {
    font-size: 120pt;
    font-weight: bold;
    position: relative;
    font-family: "Fredoka One";
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  .container span::before {
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
  }
  .container span::after {
    content: var(--l);
    position: absolute;
    height: 200%;
    width: 300px;
    top: 80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
  }

  .card-body {
    align-self: center;
  }

  .container span:hover {
    filter: contrast(150%);
  }
  .container span:nth-child(1) {
    color: #00bef8;
  }
  .container span:nth-child(2) {
    color: #ff0697;
  }
  .container span:nth-child(3) {
    color: #ff4d00;
  }
  .container span:nth-child(4) {
    color: #ffe600;
  }
  .container span:nth-child(5) {
    color: #bb00ff;
  }
  .container span:nth-child(6) {
    color: #00bef8;
  }
  .container span:nth-child(7) {
    color: #ff0697;
  }
  .container span:nth-child(8) {
    color: #ff4d00;
  }
  .container span:nth-child(9) {
    color: #ffe600;
  }
  .container span:nth-child(10) {
    color: #bb00ff;
  }